/* -------------------- Basic Setup --------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #d6cece;
    color: #555;
    font-family: Arial,'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* -------------------- Reuseable --------------------*/

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 80px 0;
}
/* -------------------- Header Section --------------------*/

header {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/Main-Logo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}


p {
    color: #fff;
    font-size: 140%;
    margin-left: 220px;
    margin-top: 20px;
    font-family: 'Permanent Marker', Arial  ;
}

.hero-text {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-22%,-50%);
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 30px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #7a5a5a;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #74b9ff;
    color: #f5eeee;
}

.get-in {
    border: 2px solid #cec3c3;
    padding: 8px;
    border-radius: 200px;
}
/* -------------------- Heading --------------------*/

h1 {
    margin: 0;
    color: #f5eeee;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 200%;
    font-family: 'Permanent Marker', Arial;
}

h2 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
/* -------------------- Latest Articles --------------------*/

.travel-vehical img {
    width: 100%;
    height: auto;
    
}

.travel-vehical{
   border: 2px solid #a19e9e;
   padding-top: 0;
   box-shadow: 2px 3px 1px #dfd8d8;
}

h5 {
    padding: 10px;
    text-align: justify;
}

/* -------------------- About section --------------------*/

.about-section:first-child {
    text-align: right;
    padding-right: 3%;
    
}

.about-section:last-child {
    padding: 0 6%;
    margin-top: 13%;
    text-align: justify;
}

.green {
    padding-top: 0;
    padding-bottom: 40%;
}

/* -------------------- Send it --------------------*/

.email {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.submit input:first-child {
    width: 70%;
    margin-left: 170px;
}

.buttom {
    margin-left: 490px;
    padding: 5px 40px;
}

/* -------------------- photo-section --------------------*/

.figure-section {
    list-style: none;
    width: 100%;
}

.figure-section li{
    display: block;
    float: left;
    width: 12.5%;
}

.figure-section img {
    width: 100%;
    margin: 0;
}

/* -------------------- Section-5 --------------------*/

.black-section h2 {
    margin: 60px 0;
    font-family: 'Fuggles', Arial;
    color: #1b1919;
    font-size: 290%;
    font-weight: 400;
}

.section-5 {
    margin-left: 50px;
}
.section-5 img {
    width: 1800px;
    height: auto;
}

/* -------------------- Final --------------------*/

.box {
    margin-left: 25px;
}

.box 
input[type=text],
input[type=email]  {
    width: 30%;
    padding: 5px;
    background-color: #f8e1e1;
    border-radius: 10px;
}

textarea {
    width: 61%;
    height: 100px;
    background-color: #f8e1e1;
    border-radius: 10px;
}

input  {
    background-color: #f8e1e1;
    padding: 5px 30px;
    border-radius: 10px;
}

.phone {
    margin-left: 47%;
    margin-top: 10px;
}

.crush {
    color: #555;
    font-family: Arial,'Lato', sans-serif;
    text-align: justify;
    padding: 0 10px;
    font-size: 100%;
    text-align: center;
    padding-right: 100px;
}

.and {
    margin-top: 10px;
}

.me {
    margin-top: 10px;
    margin-bottom: 5px;
}

.box-2 h2 {
    margin-left: 100px;
}